@import "./Reset.scss";
@import "./Typography.scss";
@import "./Vars.scss";

html {
  background-color: $black;
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: black;
    border: 1px solid white;
  }

  // Box checked
  &:checked + label:before {
    background: black;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    background: white;
    width: 8px;
    height: 8px;
  }
}

.container {
  margin: $spacer2;
  font-size: 10px;

  #nominateBtn {
    text-align: center;
    width: 100%;
  }

  .mainSite {
    position: absolute;
    bottom: $spacer3;
    padding-left: $spacer1;

    > h3 {
      cursor: pointer;
      margin: 0;

      &:hover {
        opacity: 0.5;
      }
    }
    a {
      text-decoration: none;
      position: relative;
      margin-left: $spacer2;
      cursor: pointer;
      
      div {
        display: flex;

        h3 {
          line-height: 1.1;
          margin: 0;
        }

        &:hover {
          opacity: 0.5;
        }
      }
    }

    @media only screen and (max-width: $bottom-break) {
      h3 {
        font-size: 1.7vw;
      }

      a div svg {
        width: 2.2vw !important;
      }
    }
  }

  @media screen and (min-width: $md-end) {
    .leftSide {
      position: fixed;
      top: $spacer2;
      width: 20%;
      z-index: 10;
      height: 100%;

      #logoMenu {
        #communityLogo {
          width: 100%;
        }

        #hamburgerMenu {
          display: none;
        }
      }
    }

    #menuContents {
      display: block;
    }
  }

  @media screen and (max-width: $md) {
    .leftSide {
      #menuContents {
        display: none;
        height: 80vh;
        margin-top: $spacer3;
      }

      width: 100%;

      p {
        font-size: 12px;
        line-height: 20px;
      }

      #filter {
        margin-bottom: $spacer2;
      }

      #logoMenu {
        padding-top: $spacer2;
        padding-bottom: $spacer2-3;
        width: 100%;
        height: $spacer2;
        background-color: $black;

        margin-top: 0 !important;
        display: flex;
        position: fixed;
        top: 0;
        z-index: 99;

        #communityLogo {
          width: 50%;
          position: fixed;
          left: $spacer2;
        }

        #hamburgerMenu {
          padding-top: 1%;
          position: fixed;
          right: $spacer2;

          &:hover {
            cursor: pointer;
          }
        }
      }

      #nominateBtn {
        font-size: 14px;
        height: $spacer3;
      }

      .mainSite {
        bottom: 0;
      }
    }

    #memberMap {
      margin-top: $spacer2 + $spacer2-3;
    }
  }

  h3,
  h4 {
    margin-top: $spacer2;
  }

  #filter {
    h4 {
      float: right;
      cursor: pointer;
      padding-top: 4px;
    }

    h4:hover {
      text-decoration: underline;
    }

    h3 {
      float: left;
    }

    br {
      clear: both;
    }
  }
  button {
    width: 95%;
    border-radius: 0%;
    border: 2px solid $white;
    height: 5rem;
    background-color: $black;
    margin-top: $spacer2;
  }

  label {
    margin-top: $spacer1;
    display: flex;

    p {
      margin-left: $spacer1;
      line-height: 18px;
      vertical-align: middle;
    }
  }
}

select,
option {
  height: 35px;
  border: 1px solid $white;
  background: $black;
  margin-top: $spacer1;
}

.memberContainer {
  > img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  > img:hover {
    filter: none;
  }

  > p {
    margin: $base 0;
    overflow: hidden;
  }
  .info {
    display: flex;
    margin-top: $base;
    p {
      margin-left: $spacer1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  margin-bottom: $spacer2;
}

.aboutPage {
  border: 2px solid $white;
  margin-top: -$spacer2;
  position: fixed;
  right: 0;
  z-index: 1000;
  background: $black;
  width: 50%;
  height: 100%;

  #about-dcom {
    margin-top: -$spacer1 !important;
    border-bottom: 2px solid $white;
    padding: 0 $spacer1 $spacer1 $spacer1;

    #closeButton {
      height: 2rem;
      width: 2rem;
      padding-top: $spacer2;
      float: right;
    }

    #closeButton:hover {
      cursor: pointer;
    }

    h4 {
      float: left;
    }
  }

  h1 {
    margin: $spacer1;
  }

  #about-body-text {
    font-size: 2.2rem;
    line-height: 3.6rem;
    margin: 0 $spacer1;
    border: none;
  }
}

@media screen and (max-width: $md) {
  .aboutPage {
    width: 90%;
  }
}

.nomination {
  form {
    label {
      p {
        margin-right: $spacer1;
      }

      input {
        width: 100%;
        border: none;
      }
    }
  }
}
